* {
  --verdePrincipal: #0C6A6F;
  --verdeClaro: #b2f1f5;
  --cinzaClaro: #DBE4E5;
  --cinzaMedio: #98ACB4;
  --cinzaEscuro: #546069;
  --amarelo: #FBAB32;
}

.card-header {
  background: var(--cinzaClaro);
}

.btn-limpar, .btn-excluir {
  background: var(--cinzaClaro);
  width: 100px;
}

.btn-limpar:hover {
  background: var(--cinzaMedio);
  scale: 1.05;
  transition: .7s;
}

.btn-pesquisar, .btn-editar {
  background: var(--verdePrincipal);
  width: 100px;
}

.btn-pesquisar:hover {
  background: hsl(183, 80%, 34%);
  scale: 1.05;
  transition: .7s;
}

table {
  width: 94%;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  // outline: 1px solid #0C6A6F;
  // outline-offset: 0;
  box-shadow: 1px 1px 2px #0C6A6F;
}

thead {
  border-bottom: 2px solid var(--verdeClaro);
  text-align: center;
  background-color: var(--verdePrincipal);
  color: #fff;
  height: 40px;
}

th, td {
  border: 1px solid var(--verdeClaro);
  padding: 3px 2px;
}

tr td:nth-child(1) {
  border-left: none;
}

tbody tr:nth-child(even) {
  background-color: hsla(184, 77%, 83%, 0.275);
}

tbody tr:nth-child(even):hover {
  background-color: hsla(184, 77%, 83%, 0.500);
}

tbody tr:nth-child(odd):hover {
  background-color: #eaeaea;
}