<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header h4 .texto-ênfase-secundário">Filtros</div>
        <div class="card-body">
          <form>
            <div class="row mb-3">
              <div class="form-group col-md-4">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="filtro.nome">
              </div>

              <div class="form-group col-md-4">
                <label for="paisOrigem" class="form-label">País:</label>
                <select class="form-select" aria-label="Selecione o país" id="paisOrigem" name="paisOrigem" [(ngModel)]="filtro.pais">
                  @for(pais of paises; track pais.id) {
                    <option value="{{ pais.nome }}">{{ pais.nome }} ({{ pais.sigla }})</option>
                  }
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="pesquisador" class="form-label">Pesquisador responsável:</label>
                <select class="form-select" aria-label="Selecione o pesquisador responsável" id="pesquisador" name="pesquisador" [(ngModel)]="filtro.pesquisadorResponsavel">
                  @for(pesquisador of pessoas; track pesquisador.id) {
                    <option value="{{ pesquisador.nome }}">{{ pesquisador.nome }}</option>
                  }
                </select>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="dataInicial">Data Inicial:</label>
                  <input type="date" class="form-control" id="dataInicial" name="dataInicial" [(ngModel)]="filtro.dataInicial">
                </div>

                <div class="form-group col-md-6">
                  <label for="dataFinal">Data Final:</label>
                  <input type="date" class="form-control" id="dataFinal" name="dataFinal" [(ngModel)]="filtro.dataFinal">
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-4">
                  <label for="estagio">Estágio:</label>
                  <select class="form-select" aria-label="Selecione o estágio da vacina" id="estagio" name="estagio" [(ngModel)]="filtro.estagio">
                    <option value="INICIAL">Inicial</option>
                    <option value="TESTES">Testes</option>
                    <option value="APLICACAO">Aplicação</option>
                </select>
                </div>

                <div class="form-group col-md-4">
                  <label for="avaliacaoMin">Avaliação Mínima:</label>
                  <input type="number" class="form-control" id="avaliacaoMin" name="avaliacaoMin" [(ngModel)]="filtro.avaliacaoMinima">
                </div>
                <div class="form-group col-md-4">
                  <label for="avaliacaoMax">Avaliação Máxima:</label>
                  <input type="number" class="form-control" id="avaliacaoMax" name="avaliacaoMax" [(ngModel)]="filtro.avaliacaoMaxima">
                </div>
            </div>
            <div class="form-group d-flex column-gap-2">
              <button type="button" class="btn btn-warning btn-sm flex-grow-1" (click)="limpar()"><i class="bi bi-trash"></i>Limpar</button>
              <button type="submit" class="btn btn-primary btn-sm flex-grow-1" (click)="pesquisar()">Pesquisar</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>País de Origem</th>
      <th>Pesquisador</th>
      <th>Iniciada em:</th>
      <th>Estágio</th>
      <th>Avaliação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
      @for(vacina of vacinas; track vacina) {
          <tr>
              <td>{{ vacina.nome }}</td>
              <td>{{ vacina.paisOrigem.nome }}</td>
              <td>{{ vacina.pesquisadorResponsavel.nome }}</td>
              <td>{{ vacina.dataInicio | date: 'dd/MM/yyyy' }}</td>
              <td>{{ vacina.estagio }}</td>
              <td>{{vacina.mediaDasAvaliacoes}}</td>
              <td>
                <div class="row-1 gap-0 column-gap-2">
                  <button class="btn btn-primary" (click)="editar(vacina.id)">Editar</button>
                  <button class="btn btn-secondary" (click)="excluir(vacina)">Excluir</button>
                </div>
              </td>
          </tr>
      }
  </tbody>
</table>